<p id="notice"><%= notice %></p>

<h1>Homes</h1>

<%= form_tag homes_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to "Advanced Search", new_search_path %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Make</th>
      <th>Year</th>
      <th>Model</th>
      <th>Price</th>
      <th>Description</th>
      <!-- <th>Owner</th>
      <th>Email</th> -->
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <div class="media">
      <div class="media-body">
    <% @homes.each do |home| %>
    <small>
      submitted <%= time_ago_in_words(home.created_at) %> ago by <%= home.user.name %><br>
    </small>
        <tr>
            <td><%= home.category %></td>
            <td><%= home.make %></td>
            <td><%= home.year %></td>
            <td><%= home.model %></td>
            <td><%= home.price %></td>
            <td><%= home.description %></td>
            <td><%= home.user.email %></td>
            <!-- <td><%= home.owner %></td> -->
            <!-- <td><%= home.email %></td> -->
            <!-- <td><%= home.phone %></td> -->
            <td><%= link_to 'Show', home %></td>
            <td><%= link_to 'Edit', edit_home_path(home) %></td>
            <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </div>
    </div>
  </tbody>
      <% end %>

  </table>

<br>

<%= link_to 'New Home', new_home_path %>
